/*Title: zepeda-future-value.css
    Author: Evelyn Zepeda
    Date 11/23/2023
    Description: The CSS document for the Future Value App 
*/

.danger {
    float: right;
    color: #df546a;
    font-size: 12px;
    letter-spacing: 2px;
}

.form-label {
    display: inline-block;
    padding-top: 1rem;
}